<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page</h1>
    <h3> <%=2*89 %></h3>
    <p>There will be days when nothing makes sense, when your energy is low, and your confidence wavers. You’ll feel like giving up, like your efforts aren’t making a difference. But those are the exact moments that shape you.</p>
    <button>click me</button>
</body>
</html>